<form method="POST" action="new">
    <label for="userName">Name:</label>
    <input type="text" name="userName">
    <label for="userName">Message:</label>
    <input type="text" name="newMessage">
    <button type="submit">Add Message</button>
</form>